<li class="list__img-card" data-id="{{id}}">
  <img class="list__preview-img" src="{{previewURL}}" alt="{{tags}}">
  <button class="list__del-button" type="button" data-action="delete">	&#215;</button>
</li>