<li class="list__img-card" data-id="{{id}}">
  <img class="list__preview-img" src="{{previewURL}}" data-fullview="{{largeImageURL}}" alt="{{tags}}" data-sel="sel">
  <div class="list__delButton" data-action="del">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px">
      <image x="0px" y="0px" width="10px" height="10px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiChkWMyO+XtsdAAAAfUlEQVQI10WOsQ2CUAAFD2JMXMCe1sQJsKQgn5LCTi2sDW7iGExgg8O4gAWVNOQs4OOr3rvi8hKvvHnxz5FvypaOfEFnWtaIN/Ug4kUtBRHvamahBokQK1V300pn1weAfl4intS9dXRHFERs1FymEozuRq1WjNQ8l58PBjY/rBhaZsxikaQAAAAASUVORK5CYII="
      />
    </svg>
  </div>
</li>