<li class="list__item" data-id="{{id}}">
  <img class="list__item--img" src="{{image}}" alt="Page previev">
  <a href="{{link}}" class="link" target="_blank">{{title}}</a>
  <button type="list__item--button" data-action="delete">удалить карточку</button>
</li>